@font-face {
  font-family: gulax;
  src: url('../fonts/gulax.woff2') format('woff2');
}

@font-face {
  font-family: enfer;
  src: url('../fonts/enfer.woff2') format('woff2');
}

@font-face {
  font-family: radikal;
  src: url('../fonts/Radikal Medium.woff2') format('woff2');
}
@font-face {
  font-family: radikal;
  src: url('../fonts/Radikal Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: font-awesome;
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
}
