body {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--html-text-color);
  font-family: radikal, "Trebuchet MS", "Open Sans", sans-serif;
  /*** fix pour glitch android ***/
  background-color: black;
}
.content {
  width: Min(var(--page-narrow),calc(100% - 2*var(--external-margin)));
  transition: width .8s;
}
main {
  background-color: var(--main-background-color);
  padding: var(--internal-margin);
  scroll-margin-top: calc(4.5rem + 1.2rem);
}
.content {
  z-index: 1;
  position: absolute;
}