<!DOCTYPE html>
<html lang="fr">

<head>

  {{ if isset .Params "redirect" }}
  <meta http-equiv="refresh" content="0; URL='{{ .Params.redirect }}'" />
  {{ end }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ relURL "" }}favicon.png">
  <meta property="og:type" content="website">
  <meta name="author" content="www.crachecode.net">

  <meta name="description"
    content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if $.Site.Data.site.description }}{{ $.Site.Data.site.description }}{{ end }}">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  {{ if .Params.og_image }}
  {{ $ogimage := resources.Get .Params.og_image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ else if .Params.image }}
  {{ $ogimage := resources.Get .Params.image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ else if $.Site.Data.site.og_image }}
  {{ $ogimage := resources.Get $.Site.Data.site.og_image }}
  <meta property="og:image" content="{{ $ogimage.RelPermalink }}">
  {{ end }}
  <meta name="theme-color" content="#5E2750">

  {{ $cssOpts := dict "enableSourceMap" (not hugo.IsProduction) }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script type="module" src="{{ relURL "" }}js/app.js"></script>

  {{/* if eq .RelPermalink "/" */}}
    <script type="module" src="{{ relURL "" }}js/noise.js"></script>
  {{/* end */}}

  {{/* force publish every images in assets/img */}}
  {{ $files := readDir "assets/img" }}
  {{ range $files }}
    {{ $path := printf "img/%s" .Name }}
    {{ $image := resources.Get $path }}
    {{ $image.Publish }}
  {{ end }}
  
  {{ $image := resources.Get "img/marija.jpg" }}
  {{ $image.Publish }}
</head>

<body id="page_{{ if eq .RelPermalink "/" }}home{{ else }}{{ with .File }}{{ .ContentBaseName }}{{ end }}{{ end }}" {{ if strings.Contains .RelPermalink "/news/" }}
  class="news" {{ end }}>
  <div class="content">
    <header>
      <div class="topbar">
        <a href="{{ ref . "/" }}" id="logo">
          Non_Jazz
        </a>
        {{ if ne .RelPermalink "/" }}
        <div id="sandwich">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="navbar">
          {{ partial "menu/main.html" . }}
        </div>
        {{ end }}
      </div>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  {{/* if eq .RelPermalink "/" */}}
    {{ $firstPage := index (.Site.Menus.main) 0 }}
    {{ if eq .RelPermalink "/" }}
      <div id="nnjzz" href="{{ $firstPage.URL }}">
        <a href="{{ $firstPage.URL }}" class="glitch" data-text="Non_Jazz">Non_Jazz</a>
      </div>
    {{ end }}
    <canvas id="wallpaper"></canvas>
  {{/* end */}}
</body>

</html>
