{{ define "main" }}
  <section class="single">
    {{ if .Params.image }}
      <div>
        {{ $image := resources.Get .Params.image }}
        <img src="{{ $image.Permalink }}">
        {{ partial "img_gallery.html" (dict "context" . "src" $image.Permalink "alt" "" "sizes" "(max-width: 437px) 100vw, 467px") }}
      </div>
    {{ end }}
    <div>
      {{ if eq .Section "news" }}
        <a href="{{ .Parent.Permalink }}" class="button">back</a>
        <h1>{{ .Title }}</h1>
        <p>
          {{ humanize .Date.Day }} of {{ .Date.Format "January 2006" }}
          {{/* <br>
          {{ .Date | time.Format ":time_short" */}}
        </p>
        {{ if .Params.place }}
          <h3>{{ .Params.place }}</h3>
        {{ end }}
      {{ end }}
      {{ .Content }}
      {{ if .Params.link }}
        {{ $url := urls.Parse .Params.link }}
        <p>
          <a href="{{ .Params.link }}" target="_blank">{{ $url.Host }}</a>
        </p>
      {{ end }}
    </div>
  </section>
{{ end }}